@import "bourbon/bourbon"
@import "neat/neat"
@import "base/base"

#main
	@include outer-container(1920px)
	background-color: #fff

nav.bourbon 
	-webkit-font-smoothing: antialiased
	background-color: #5B5E63
	padding: 0 2em 0 1em

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section 
	display: block

nav
	margin: 0
	padding: 0
	border: 0
	outline: 0
	vertical-align: baseline
	background: transparent


body
	font-family: sans-serif
	margin: 100px

.heroImages
	position: relative
	left: 25%

#core
	height: 750px
	width: auto
	padding: 25px

#soul
	height: 750px
	width: auto
	padding: 25px

header
	height: 75px
	color: red
	display: inline
	text-align: center

p
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif
	font-size: 14px
	font-style: normal
	font-variant: normal
	font-weight: 100
	line-height: 16.8px
